<header>
    <div class="navbar-fixed">
        <nav>
            <div class="container hide-on-med-and-down">
                <a ui-sref="home" class="brand-logo">Landing Page</a>
                <ul class="right hide-on-med-and-down">
                    <li ui-sref-active="active">
                        <a ui-sref="home">Home</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="about">About</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="events">Events</a>
                    </li>
                    <li ui-sref-active="active">
                        <a href="#" target="_blank">External</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="blog">Blog</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="404">Services</a>
                    </li>
                </ul>
            </div>
            <div class="nav-wrapper hide-on-large-only">
                <a ui-sref="home" class="brand-logo">Landing Page</a>
                <a class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-closeonclick="true">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="side-nav" id="nav-mobile">
                    <li ui-sref-active="active">
                        <a ui-sref="home">Home</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="about">About</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="404">Events</a>
                    </li>
                    <li ui-sref-active="active">
                        <a href="#" target="_blank">External</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="blog">Blog</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="404">Services</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>